<<<<<<< HEAD
<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Donation </a></header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup</a>
    <a class="item" href="/login"> Login</a>
  </div>
=======
<nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Donation </a> </header>
    <div class="right menu">
        <a class="item" href="/signup"> Signup</a>
        <a class="item" href="/login">  Login</a>
    </div>
>>>>>>> 182f41e5dd3a29994700914bf4669b8399493433
</nav>